## global settings
# Set the output directory of relive

RELIVE_OUTDIR=/srv/nginx/relive

# Set the HLS source directory

HLS_DIR=/srv/nginx/hls

# Set the resolution to be recorded
#
# Default: sd

RELIVE_RESOLUTION=sd

# Generate scrubbing thumbnails for the relive player
#
# Note that this a computationally expensive operation and also creates a
# dependency on the "montage" tool from ImageMagick.
#
# Default: off

SCRUB_THUMBS=0

## configuration for genpage
# Overwrite the base URL used for the links in the generated index.json.
#
# Default: //cdn.c3voc.de/relive

GENPAGE_URL_PREFIX=//live.dus.c3voc.de/releases/relive/
