<html>
<head>
<title>31C3 - HLS relive</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<p>
	This is a temporary frontend. The official one is still in the works, sorry. Please play with <a href="http://videolan.org">VLC</a>. VLC doesn't support timeshifting &mdash; the final frontend will, however.
</p>
<p>
	Recording begins 15 minutes before the talk starts according to the Fahrplan and ends 15 minutes after the talks ends.
</p>
<p>
	A machine-readable version can be found <a href="index.json">here</a>.
</p>
{
foreach my $event (sort {
	if($a->{status} eq 'live' and $b->{status} ne 'live') {
		return -1;
	} elsif($a->{status} ne 'live' and $b->{status} eq 'live') {
		return 1;
	}
	return $a->{room} cmp $b->{room};
} @$events) {
	if($event->{status} eq 'live') {
		$OUT .= qq!<a href="$event->{id}/index.m3u8">$event->{title}</a> ($event->{room}, status: <b>live</b>)<br/>!;
	} elsif($event->{status} eq 'released') {
		$OUT .= qq!<a href="$event->{id}/index.m3u8">$event->{title}</a> ($event->{room}, status: <a href="$event->{release_url}">released</a>)<br/>!;
	} else {
		$OUT .= qq!<a href="$event->{id}/index.m3u8">$event->{title}</a> ($event->{room}, status: $event->{status})<br/>!;
	}
}
}
</body>
</html>
