*/10 * * * * /home/relive/scripts/foreach-project.sh /home/relive/scripts/get-releases.sh
0 * * * * /home/relive/scripts/foreach-project.sh /home/relive/scripts/get-fahrplan.sh
*/2 * * * * /home/relive/scripts/foreach-project.sh "perl /home/relive/hls-relive/genpage.pl"
